$theme_colour: #fe44d8;
$dark_theme_colour: #5d1a4c;
$home_colour_1: #ad58a1;
$home_colour_2: $dark_theme_colour;


.aws-button{
  cursor: pointer;
}

.object-tools-lang{
  clear: none;
  text-align: left;
  float: right;
  margin-right: 130px;
  position: relative;
  top: 58px;
  padding: 0;
  li{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    img{
      border: 1px solid white;
      margin: 0;
    }
    a{
      top: 1px;
      position: relative;
      padding: 5px 8px 3px 8px;
      background-color: #efefef;
      border: #666 2px solid;
      border-radius: 10px;
    }
    .active{
      background-color: #808080 !important;
    }
  }
}

#toolbar_box{
  top: -10px;
  position: relative;
  height: 50px;
  background-color: #efefef;
  border: 1px solid #808080 !important;
  text-align: center;
  padding-top: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  img{
    margin-top: 10px;
  }
}

#selectdb{
  font-size: 12px;
  float: right;
  width: 220px;
  height: 40px;
  display: block;
  position: relative;
  top: -2px;
  label{
    display: block;
    float: left;
    width: 60px;
    padding-top: 6px;
    text-align: left;
    top: 0 !important;
    cursor: pointer;
    position: relative;
  }
  input[type="radio"]{
    height: 25px;
    width: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    float: left;
    top: 0 !important;
    position: relative;
  }
}
.user-profile{
  text-align: left;
  margin-left: 30px;
  width: 95%;
  .profile{
    top: 0;
    border-radius: 1000px;
    border: 4px solid white;
    width: 150px;
    height: 150px;
  }
}

#submenu{
  list-style: none;
  text-align: left;
  width: 95%;
  height: 35px;
  padding: 0; margin: 0;
  position: relative;
  top: -5px;
  z-index: 1000;
  li{
    list-style: none;
    padding: 5px;
    padding-left: 10px;
    margin: 0;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    border-top: 1px solid #808080;
    float: left;
    text-align: left;
    width: 100px;
    background-color: #808080;
    border-left: 1px solid #efefef;
    cursor: pointer;
    color: white;
    font-weight: bold;
    &.active{
      border-left: 1px solid #808080;
      background-color: #efefef;
      color: black;
    }
  }
}

.hide{
  display: none;
}