body{
  background-color: white;

}


#lang-block{
  ul{
    text-align: left !important;
    padding: 0 !important;  margin: 0 !important;
    li{
      display: inline-block;
      font-size: 14px;
      margin: 0 !important;
      text-align: left;
      border-radius: 20px;
      padding: 5px 5px !important;
      &:hover{
        background-color: #efefef;
        cursor: pointer;
      }
      span{
        width: 32px; height: 32px;
        border-radius: 100px;
        background-color: #808080;
        display: inline-block;
        position: relative;
        margin: 0;
        float:left;
        background-repeat: no-repeat;
        background-size: 32px 32px;
      }
      span.en{
        background-image: url("/static/img/flags/png/united-states-of-america.png");
      }
      span.de{
        background-image: url("/static/img/flags/png/germany.png");
      }
      span.fr{
        background-image: url("/static/img/flags/png/france.png");
      }
      span.cn{
        background-image: url("/static/img/flags/png/china.png");
      }
      span.tr{
        background-image: url("/static/img/flags/png/turkey.png");
      }
      span.es{
        background-image: url("/static/img/flags/png/spain.png");
      }
      span.ja{
        background-image: url("/static/img/flags/png/japan.png");
      }
      a{
        display: inline-block;
        line-height: 42px;
        height: 42px;
        float:left;
        font-size: 14px;
        color: #666;
        padding-left: 10px;
        text-align: left !important;
      }
    }
  }
}
